.container-fluid {
  margin-bottom: 40px;
}

#width, #height {
  width: 60px;
}

#grid {
  width: 100%;
}

#grid td {
  border: 1px solid gray;
  cursor: pointer;
}

#grid td.filled {
  background-color: black;
}

#grid td:after {
  content: '';
  display: block;
  margin-top: 100%;
}

#grid td:hover {
  background-color: lightgray;
}

#input-3d {
  position: absolute;
  width: 90%;
  height: 600px;
  font-family: Monospace;
  font-size: 12px;
  margin: 0 auto;
  left: 0;
  right: 0;
  overflow: hidden;
}

.margin-left {
  margin-left: 10px;
}

.margin-right {
  margin-right: 10px;
}

.controls-viewer {
  margin: 10px 0;
}

#face-color {
  width: 40px;
  padding: 2px;
}